@{
    Layout = null;
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/angular-animate.min.js"></script>
        <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
        <script src="~/Scripts/angular-drag-and-drop-lists.min.js" ></script >
        <script src="~/Scripts/AjsUser.js"></script>
        <script src="~/Scripts/AjsTask.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/metisMenu.min.js"></script>
        <script src="~/Scripts/sb-admin-2.js"></script>
        <link href ="/Content/multi.css" rel="stylesheet"/>
}
<html ng-app="AngularJS">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/sb-admin-2.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />

</head>

<body>
  
    <div id="wrapper">

  

         <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>

            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">

                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                @*<span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>*@
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li ng-controller="ModalDemoCtrl">
                            <script type="text/ng-template" id="Content.html">
                                <div class="modal-header">
                                    <img style="width:200px; height:200px;  display:block; background-position-y:50%;  border-radius:50%;" ng-src='{{formInfo.Photo}}' />
                                    <input type="file" name="upload" id="uploadFile" /><br />
                                    <button ng-click="send()">Save</button>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal" id="cusForm">

                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <div class="form-group">
                                            <label class="control-label col-md-2">Login</label>
                                            <div class="col-md-10">
                                                <input type="text" ng-model="formInfo.Login" placeholder="{{ Customer.Login }}" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Save" class="btn btn-default" ng-click="editCustomer(@User.Identity.Name)" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                                </div>
                            </script>
                            <a href="#" ng-click="open('','@User.Identity.Name')"><i class="fa fa-dashboard fa-fw"></i> Hello @User.Identity.Name </a>
                        </li>
                        <li ng-controller="TasksCtrl">
                            <script type="text/ng-template">
                                <div class="tasks" style="background-color:#fa39c3;color:white" role="alert">
                                    <div ng-transclude></div>
                                </div>
                            </script>


                            <a href="#"  ng-click="getTask('@User.Identity.Name')"><i class="fa fa-bar-chart-o fa-fw"></i> Your's tasks<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li class="alert alert-success" ng-repeat="task in folder"><a href="#" ng-click="showListTask(task.Id)"  class="alert-link">{{task.Title}}</a><button type="button" class="close" ng-click="closeAlert($index, task.Id)" aria-label="Close"><span aria-hidden="true">&times;</span></button> </li> 
                                <input type="text" id="newListTaskList" name="Title" placeholder="New one" class="form-control" />
                                <button type="button" class='btn btn-default' ng-click="addAlert('@User.Identity.Name')">Add</button>                                                        
                            </ul>
                          

                            <!-- /.nav-second-level -->
                        </li>
                       
                    </ul>
                </div>
            </div>
        </nav>

        <div ng-controller="TasksCtrl" id="page-wrapper" style="min-height: 330px;">
            <div ng-if="getValue()!=undefinded" class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="text" id="newTaskList" name="Title" placeholder="New one" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <button type="button" class='btn btn-default' ng-click="addTaskList(getId())">Add</button>
                    </div>
                </div>
            </div>
            <div class="directlyWorkWith">

                <div class="simpleDemo row">

                    <div class="col-md-10">
                        <div class="row">
                            <div ng-repeat="tasks in getValue()" class="col-md-12">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">List {{tasks.Title}}</h3>
                                        <div ng-click="getTaskFromParentFolder(tasks.Id)">
                                            <a ng-click="isReplyFormOpen = !isReplyFormOpen">Details</a>
                                        </div>
                                    </div>
                                    <div class="panel-body" ng-show="isReplyFormOpen"  id="replyForm" >
                                        <div dnd-list="taskWithParentFolderId" dnd-drop="onDrop(tasks, item, index)">
                                            <div ng-repeat="item in taskWithParentFolderId[tasks.Id]"
                                                dnd-draggable="item"
                                                dnd-moved="taskWithParentFolderId[tasks.Id].splice($index, 1)"
                                                dnd-effect-allowed="move"
                                                dnd-selected="models.selected = item"
                                                ng-class="{'selected': models.selected === item}">
                                                <span ng-click="open('',item.Id)" class="pull-left"><i class="fa fa-arrow-circle-right"></i>&nbsp; &nbsp; &nbsp; </span>
                                                <span class="clearfix">{{item.Title}}</span>
                                            </div>
                                            <input type="text" ng-model="post[tasks.Id]" name="Value" placeholder="New one" class="form-control">
                                            <button ng-click="addOneTask(tasks.Id, post[tasks.Id])">Add</button>                   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div view-source="multi"></div>*@
                    </div>

                    @*<div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Generated Model</h3>
                            </div>
                            <div class="panel-body">
                                <pre class="code">{{modelAsJson}}</pre>
                            </div>
                        </div>
                    </div>*@

                </div>
            </div>


            <script type="text/ng-template" id="Task.html">
                <div class="modal-header">
                    <img style="max-height:400px;max-width:400px" />
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="cusForm">

                        <hr />
                        <div class="form-group">
                            <label class="control-label col-md-2">Title</label>
                            <div class="col-md-10">
                                <input type="text" ng-model="formInfo.Title" placeholder="{{ taskForm.Title }}" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Description</label>
                            <div class="col-md-10">
                                <input type="text" ng-model="formInfo.Description" placeholder="{{ taskForm.Description }}" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">DueTime</label>
                            <div class="col-md-10">
                                <input type="date" ng-model="formInfo.DueTime" placeholder="{{ taskForm.DueTime }}" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">IsCompleted</label>
                            <div class="col-md-10">
                                <input type="checkbox" ng-model="formInfo.IsCompleted" placeholder="{{ taskForm.IsCompleted }}" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" ng-click="editTask(taskForm.Id)" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </script>


          
         </div>

    </div>

    @section scripts{
        <script type="text/javascript">
        </script>
    }
</body>
</html>